/*
'Alegreya Sans', sans-serif
'Kreon', serif
'Lato', sans-serif
'Roboto Slab', serif
*/

@-webkit-keyframes blink {
    0% {
        color: inherit;
        background-color: initial;
    }
    40% {
        color: #fff;
        background-color: #ff8b45;
    }
    100% {
        color: inherit;
        background-color: initial;
    }
}

@keyframes blink {
    0% {
        color: inherit;
        background-color: initial;
    }
    40% {
        color: #fff;
        background-color: #ff8b45;
    }
    100% {
        color: inherit;
        background-color: initial;
    }
}

@-webkit-keyframes pulse {
    0% {
        -webkit-box-shadow: 0 0 0 0 rgba(255, 102, 11, 0.6);
    }
    70% {
        -webkit-box-shadow: 0 0 0 70px rgba(255, 102, 11, 0);
    }
    100% {
        -webkit-box-shadow: 0 0 0 0 rgba(255, 102, 11, 0);
    }
}

@keyframes pulse {
    0% {
        -moz-box-shadow: 0 0 0 0 rgba(255, 102, 11, 0.6);
        box-shadow: 0 0 0 0 rgba(255, 102, 11, 0.6);
    }
    70% {
        -moz-box-shadow: 0 0 0 70px rgba(255, 102, 11, 0);
        box-shadow: 0 0 0 70px rgba(255, 102, 11, 0);
    }
    100% {
        -moz-box-shadow: 0 0 0 0 rgba(255, 102, 11, 0);
        box-shadow: 0 0 0 0 rgba(255, 102, 11, 0);
    }
}

*:not(.no-transition) {
    outline: none;
    transition: all 0.3s, color 0s;
}

body {
    font: normal 16px/1.7 'Lato', sans-serif;
    color: #555;
    background-color: #efefef;
    min-height: 100vh;
}

body>div {
    opacity: 0;
}

.welcome-message {
    font-size: 50px;
    line-height: 1.2;
    height: 170%;
    position: fixed;
    top: -70%;
    right: 0;
    left: 0;
    z-index: 9999999999;
    transition: top 2s;
}

.welcome-message:before {
    content: '';
    display: block;
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    background: rgba(199, 234, 255, 0);
    background: -moz-linear-gradient(top, rgba(199, 234, 255, 0) 0%, rgba(199, 234, 255, 1) 40%, rgba(199, 234, 255, 1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(199, 234, 255, 0)), color-stop(40%, rgba(199, 234, 255, 1)), color-stop(100%, rgba(199, 234, 255, 1)));
    background: -webkit-linear-gradient(top, rgba(199, 234, 255, 0) 0%, rgba(199, 234, 255, 1) 40%, rgba(199, 234, 255, 1) 100%);
    background: -o-linear-gradient(top, rgba(199, 234, 255, 0) 0%, rgba(199, 234, 255, 1) 40%, rgba(199, 234, 255, 1) 100%);
    background: -ms-linear-gradient(top, rgba(199, 234, 255, 0) 0%, rgba(199, 234, 255, 1) 40%, rgba(199, 234, 255, 1) 100%);
    background: linear-gradient(to bottom, rgba(199, 234, 255, 0) 0%, rgba(199, 234, 255, 1) 40%, rgba(199, 234, 255, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#c7eaff', endColorstr='#c7eaff', GradientType=0);
}

.welcome-message .content-container {
    background: rgba(255, 255, 255, 1);
    background: -moz-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 1) 0%, rgba(199, 234, 255, 1) 49%, rgba(199, 234, 255, 1) 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(255, 255, 255, 1)), color-stop(49%, rgba(199, 234, 255, 1)), color-stop(100%, rgba(199, 234, 255, 1)));
    background: -webkit-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 1) 0%, rgba(199, 234, 255, 1) 49%, rgba(199, 234, 255, 1) 100%);
    background: -o-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 1) 0%, rgba(199, 234, 255, 1) 49%, rgba(199, 234, 255, 1) 100%);
    background: -ms-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 1) 0%, rgba(199, 234, 255, 1) 49%, rgba(199, 234, 255, 1) 100%);
    background: radial-gradient(ellipse at center, rgba(255, 255, 255, 1) 0%, rgba(199, 234, 255, 1) 49%, rgba(199, 234, 255, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#c7eaff', GradientType=1);
}

.welcome-message .hi {
    font-size: 200%;
    margin-top: -70px;
}

.welcome-message .intro {
    font-size: 120%;
    margin-top: -50px;
}

.welcome-message .cv {
    font-size: 100%;
    margin-top: -35px;
}

.welcome-message .content-container {
    width: 100%;
    height: 100vh;
    position: absolute;
    bottom: 0;
    display: table;
    pointer-events: none;
}

.welcome-message .content-area {
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}

.welcome-message .content-area>* {
    color: #000;
    line-height: 1.4;
    width: 100%;
    padding: 0 20px;
    position: absolute;
    top: 50%;
}

.welcome-message img.my-photo {
    max-height: 100px;
    width: auto;
    margin-left: 30px;
    border-radius: 50%;
}

h1,
h2,
h3,
h4,
.h1,
.h2,
.h3,
.h4 {
    font-family: 'Alegreya Sans', sans-serif;
}

.small,
small {
    font-size: 85%;
    font-weight: inherit;
}

.smaller {
    font-size: 78%;
}

.hidden,
.mobile {
    display: none;
}

ul {
    padding-left: 25px;
}

abbr {
    border-bottom: 1px dotted #aaa;
}

.blur {
    overflow: hidden;
}

.blur .nav-container,
.blur .wrapper {
    filter: blur(2px);
    -webkit-filter: blur(2px);
    transition: filter 2.5s;
}

.content-blur .wrapper {
    filter: blur(5px);
    -webkit-filter: blur(5px);
    transition: filter 1.5s;
}

.nav-container .bg {
    background-color: rgba(160, 160, 160, 0.75);
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
    transition: none;
}

.nav-container .handle,
nav:after {
    display: block;
    height: 50px;
    position: absolute;
    top: 20%;
    border-radius: 0 30px 30px 0;
    /* transition: none; */
}

.nav-container .handle {
    font: bold 22px monospace;
    text-align: center;
    line-height: 8px;
    border-left: 5px solid #f3f3f3;
    background-color: rgba(255, 255, 255, 0.3);
    width: 30px;
    padding: 9px 5px 0 0;
    cursor: pointer;
    right: -24px;
}

nav:after {
    content: '';
    width: 24px;
    left: 100%;
    box-shadow: 1px 0 10px rgba(0, 0, 0, 0.4);
}

nav:after {
    display: block;
    z-index: -1;
}

.nav-container.open .handle,
.nav-container.open .handle:hover {
    color: #0092ea;
    background-color: #f3f3f3;
}

.nav-container.open nav {
    background-color: #f3f3f3;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.7);
}

.pulse {
    /* box-shadow: 1px 0 50px 0 rgba(255, 102, 11, 1); */
    box-shadow: 0 0 0 rgba(255, 102, 11, 0.3);
    animation: blink 3s infinite, pulse 3s 0.5s infinite;
}

.nav-container.open .pulse {
    animation: none;
}

nav {
    width: 250px;
    background-color: #f3f3f3;
    /* border-right: 1px solid #c5c5c5; */
    padding-top: 47px;
    position: fixed;
    top: 0;
    bottom: 0;
    left: -275px;
    z-index: 101;
}

nav h4 {
    text-align: center;
    border-bottom: 1px solid #c5c5c5;
    padding: 10px;
    margin: -47px 0 0;
    position: relative;
    z-index: 10;
}

nav .bookmarks {
    height: 100%;
    padding: 10px;
    overflow-x: hidden;
    overflow-y: auto;
}

nav .ico {
    font-size: 16px;
    margin: 0 20px;
}

nav a {
    text-decoration: none !important;
    background-color: #fff;
    border-bottom: 1px solid #ff6000;
    display: block;
    padding: 5px 8px;
    margin: 5px 0 0;
    box-shadow: 0 0 2px rgba(255, 96, 0, 0.5);
}

nav a:first-of-type {
    margin: 0;
}

nav a:hover {
    background-color: #fff7ee;
}

nav a.active {
    color: #ff6000;
    background-color: #ffe6ce;
    /* text-shadow: 1px 1px 1px #afafaf; */
}

.themer-container {
    position: fixed;
    right: 0;
    top: 20%;
    z-index: 101;
}

.theme-changer {
    font-family: 'Kreon', serif;
    color: #555;
    background-color: #f7f7f7;
    display: block;
    padding: 6px 10px 8px 39px;
    margin-left: -37px;
    cursor: pointer;
    position: relative;
    right: -100%;
    opacity: 0.4;
    border-radius: 30px 0 0 30px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.theme-changer:hover {
    margin-left: 0;
    right: 0;
    opacity: 1 !important;
}

.theme-changer:before {
    content: '';
    background-color: #555;
    display: inline-block;
    width: 25px;
    height: 25px;
    position: absolute;
    left: 7px;
    top: 8px;
    border-radius: 50%;
}

.wrapper {
    height: 100vh;
    overflow: auto;
}

.container {
    width: 100%;
    max-width: 1000px;
    background-color: #fff;
    padding: 0;
    overflow: hidden;
    box-shadow: 0 0 15px #ccc;
}

.body-content {
    display: table;
}

header.mobile {
    background-color: #fafafa;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    box-shadow: 0 0 5px #aaa;
}

header.mobile img.thumbnail {
    width: 45px;
    position: absolute;
    left: 0;
    top: 0;
    transition: opacity 0.3s;
}

header.mobile h3 {
    line-height: 45px;
    text-align: center;
    margin-bottom: 0;
}

.photo {
    display: block;
    width: 90%;
    max-width: 200px;
    padding: 0;
    margin: 0 auto 30px;
    border-radius: 50%;
    box-shadow: 0 0 10px #aaa;
}

aside,
.main-content {
    display: table-cell;
    vertical-align: top;
    position: relative;
}

aside .content-area,
.main-content .content-area {
    /*padding: 0 10px;*/
    overflow-x: hidden;
    overflow-y: auto;
    transition: height 0s;
}

aside {
    color: #444;
    text-align: center;
    background-color: #fafafa;
    border-right: 1px solid #dfdfdf;
    width: 280px;
}

aside .content-area {
    padding-left: 5px;
    padding-right: 5px;
}

.links {
    text-align: left;
    display: inline-block;
    margin-top: 10px;
}

.links .link {
    padding: 2px 0;
}

.links .link .icon {
    line-height: 24px;
    display: inline-block;
    padding-left: 30px;
    position: relative;
}

.links .link .icon:not(.external-link):before {
    content: '';
    background-color: #fff;
    width: 23px;
    height: 23px;
    position: absolute;
    top: 1px;
    left: 1px;
}

.links .link .icon .ico {
    font-size: 25px;
}

.links .link .icon.location .ico {
    color: #4f5d73;
}

.links .link .icon.tel .ico {
    color: #77b3d4;
}

.links .link .icon.email .ico {
    color: #e04c40;
}

.links .link .icon.linkedin .ico {
    color: #007bb5;
}

.links .link .icon.github .ico {
    color: #000;
}

.links .link .icon .ico,
.links .link .icon img,
.links .link .icon:before {
    width: 25px;
    height: 25px;
    position: absolute;
    left: 0;
    overflow: hidden;
    border-radius: 3px;
}

section.sidebar-section {
    text-align: center;
}

section.sidebar-section .header {
    font-size: 110%;
    color: #555;
    border-color: #ffccad;
}

section.sidebar-section .header span {
    border-color: #ff6000;
}

.overview .skills-overview {
    font-size: 90%;
}

.overview .skills-overview>*:not(:first-child) {
    margin-top: 6px;
}

.objective {
    font: 300 125%/1.5 'Kreon', serif;
    text-align: center;
    color: #009fff;
    padding: 0 50px;
    margin-bottom: 30px;
}

.objective .yearsOfExperience {
    text-transform: lowercase;
}

section:not(:first-child) {
    margin-top: 30px;
}

section .header {
    font: normal 125% 'Roboto Slab', serif;
    color: #ff6000;
    border-bottom: 1px solid #a5ddff;
    margin-bottom: 5px;
}

section .header span {
    display: inline-block;
    border-bottom: 3px solid #009fff;
    padding: 0 5px 4px;
    margin-bottom: -1px;
}

section .content {
    padding-left: 5px;
}

.groups .group {
    width: 100%;
    display: table;
    margin: 3px 0;
}

.groups .group>* {
    display: table-cell;
    padding: 2px 5px;
}

.groups .label {
    font-size: 100%;
    color: inherit;
    font-weight: 600;
    text-align: right;
    background-color: #f1f1f1;
    width: 90px;
    padding: 2px 5px;
}

.groups .tools {
    border-bottom: 1px dotted #ddd;
    border-left: 1px dotted #ddd;
}

.project-link {
    font: normal 95% monospace;
    text-decoration: none !important;
}

.project-link:before {
    content: '/';
    font-size: 110%;
    color: #ca0000;
}

.list .list-item:not(:first-child) {
    margin-top: 12px;
}

.list .list-item .title {
    font-weight: 600;
}

.list .project.list-item .title~* {
    border-left: 1px solid #ccc;
    margin: 0 0 0 3px;
}

.list .list-item .detail {
    font-size: 92%;
    font-style: italic;
    color: #8c8c8c;
    letter-spacing: 0.4px;
    padding: 2px 0 2px 7px;
}

.list .list-item .responsibility {
    padding-left: 6px;
}

a.external-link {
    padding: 0 2px 0 5px !important;
}

a.external-link .ico {
    font-size: 110% !important;
    color: inherit !important;
    width: auto !important;
    height: auto !important;
    border: solid 1px !important;
    border-radius: 3px !important;
    position: relative !important;
    top: 2px;
}

a.external-link .ico:before {
    display: inline-block;
    -ms-transform: rotate(-30deg);
    -webkit-transform: rotate(-30deg);
    transform: rotate(-30deg);
}

a.external-link:hover {
    color: #0275d8;
}

a.external-link:hover .ico {
    color: #fff !important;
    background-color: #0275d8;
    border-color: #0275d8 !important;
}

.job {
    font-size: 95%;
}

.job .company {
    font-size: 120%;
    font-family: Kreon;
}

.job .responsibility {
    opacity: 0.9;
    font-size: 98%;
}

.employments,
.job .responsibility ul {
    padding-left: 8px;
    margin: 0 0 0 5px;
    position: relative;
}

.employments:before,
.job .responsibility ul:before {
    content: "";
    border-left: 1px solid #ccc;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 11px;
}

.designation {
    color: #008de2;
}

.employment {
    margin: 0 0 8px;
}

.employment,
.job .responsibility li {
    list-style-type: none;
    position: relative;
    padding-left: 2px;
}

.employment:before,
.job .responsibility li:before {
    content: '--';
    color: #ccc;
    letter-spacing: -2.5px;
    position: absolute;
    left: -8px;
}

footer {
    font: 600 85% monospace;
    text-align: center;
    background-color: rgba(220, 220, 220, 0.15);
    border-top: 1px solid #dfdfdf;
    display: block;
    width: 100%;
    padding: 15px;
}

.scroll-to-top {
    font-weight: bold;
    color: #ff6000;
    line-height: 35px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.5);
    display: block;
    width: 35px;
    opacity: 0;
    cursor: pointer;
    position: fixed;
    right: 20px;
    bottom: 75px;
    box-shadow: 0 0 6px rgba(125, 125, 125, 0.5);
    border-radius: 50%;
    z-index: 99;
}

.scroll-to-top:hover {
    background-color: #fff2ea;
}

section:before {
    content: '';
    /*background-color: #fff;*/
    background-color: #fffefb;
    border: 1px solid #f0ad4e;
    position: absolute;
    top: -8px;
    bottom: -12px;
    right: -10px;
    left: -10px;
    z-index: -1;
    opacity: 0;
    border-radius: 4px;
    /*box-shadow: 0 0 20px #444;*/
    box-shadow: 2px 2px 5px rgba(240, 173, 78, 0.5);
    transition: opacity 0.5s;
}

section {
    position: relative;
    z-index: 10;
}

section.highlight {
    display: block !important;
}

section.highlight:before {
    opacity: 1;
}

.section-highlighted .scroll-to-top {
    background-color: #f3f3f3;
}

.slidee,
.scrollbar,
.scrollbar * {
    transition: transform 0s;
}

.slidee {
    padding: 0 20px;
}

.sly-frame {
    height: 100%;
    padding: 30px 0;
    overflow-x: hidden;
    overflow-y: auto;
}

.main-content .sly-frame {
    padding-top: 50px;
}

.sly-frame:before,
.sly-frame:after {
    content: '';
    display: block;
    height: 30px;
    position: absolute;
    left: 0;
    right: 0;
    z-index: 10;
    pointer-events: none;
}

.sly-frame:before {
    background: -moz-linear-gradient(top, rgba(250, 250, 250, 1) 0%, rgba(250, 250, 250, 0.75) 60%, rgba(250, 250, 250, 0.5) 80%, rgba(250, 250, 250, 0) 100%);
    background: -webkit-linear-gradient(top, rgba(250, 250, 250, 1) 0%, rgba(250, 250, 250, 0.75) 60%, rgba(250, 250, 250, 0.5) 80%, rgba(250, 250, 250, 0) 100%);
    background: linear-gradient(to bottom, rgba(250, 250, 250, 1) 0%, rgba(250, 250, 250, 0.75) 60%, rgba(250, 250, 250, 0.5) 80%, rgba(250, 250, 250, 0) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#fafafa', endColorstr='#00fafafa', GradientType=0);
    top: 0;
}

.main-content .sly-frame:before {
    height: 50px;
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0.75) 60%, rgba(255, 255, 255, 0.5) 80%, rgba(255, 255, 255, 0) 100%);
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0.75) 60%, rgba(255, 255, 255, 0.5) 80%, rgba(255, 255, 255, 0) 100%);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0.75) 60%, rgba(255, 255, 255, 0.5) 80%, rgba(255, 255, 255, 0) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff', GradientType=0);
}

.sly-frame:after {
    background: -moz-linear-gradient(top, rgba(250, 250, 250, 0) 0%, rgba(250, 250, 250, 0.5) 20%, rgba(250, 250, 250, 0.75) 40%, rgba(250, 250, 250, 1) 100%);
    background: -webkit-linear-gradient(top, rgba(250, 250, 250, 0) 0%, rgba(250, 250, 250, 0.5) 20%, rgba(250, 250, 250, 0.75) 40%, rgba(250, 250, 250, 1) 100%);
    background: linear-gradient(to bottom, rgba(250, 250, 250, 0) 0%, rgba(250, 250, 250, 0.5) 20%, rgba(250, 250, 250, 0.75) 40%, rgba(250, 250, 250, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#00fafafa', endColorstr='#fafafa', GradientType=0);
    bottom: 0;
}

.main-content .sly-frame:after {
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.5) 20%, rgba(255, 255, 255, 0.75) 40%, rgba(255, 255, 255, 1) 100%);
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.5) 20%, rgba(255, 255, 255, 0.75) 40%, rgba(255, 255, 255, 1) 100%);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.5) 20%, rgba(255, 255, 255, 0.75) 40%, rgba(255, 255, 255, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff', GradientType=0);
    bottom: 0;
}

.scrollbar {
    /*width: 7px;*/
    width: 1px;
    height: 100%;
    background-color: rgba(245, 245, 245, 0.5);
    position: absolute;
    top: 0;
    /*right: 0;*/
    right: 3px;
    border-radius: 10px;
    z-index: 11;
    /*box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);*/
}

.scrollbar .handle {
    /*width: 100%;
    background: #5ebbf3;*/
    width: 5px;
    background: rgba(15, 157, 243, 0.5);
    margin-left: -2px;
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.scrollable-container,
.scrollable-container * {
    transition: top 0s;
}

.scrollable-container .scrollbar .handle {
    position: relative;
}


/*.scrollbar .handle .mousearea {
    position: absolute;
    top: 0;
    left: -10px;
    width: 22px;
    height: 100%;
}*/

@media only screen and (min-width: 641px) {
    header.mobile {
        display: none !important;
    }
}

@media only screen and (max-width: 768px) {
    .welcome-message {
        font-size: 40px;
    }
    .objective {
        padding: 0 20px;
    }
}

@media only screen and (max-width: 640px) {
    .welcome-message {
        font-size: 30px;
    }
    .wrapper {
        height: auto;
    }
    aside,
    .main-content {
        /*padding: 0 20px !important;*/
        display: block;
    }
    aside {
        width: 100%;
        /*padding: 20px;*/
        border-right: none;
        border-bottom: 1px solid #dfdfdf;
    }
    aside .content-area,
    .main-content .content-area {
        height: auto !important;
        padding: 30px 20px;
    }
    .links {
        text-align: center;
    }
    .links .link:not(:first-child) {
        display: inline-block;
        padding: 0 3px;
    }
    .links .link .icon {
        width: 35px;
        height: 35px;
        display: inline-block;
        overflow: hidden;
        padding-left: 35px;
    }
    .links .link .icon .ico,
    .links .link .icon img,
    .links .link .icon:before {
        font-size: 35px;
        width: 35px;
        height: 35px;
    }
    .links .link .icon:not(.external-link):before {
        width: 33px;
        height: 33px;
    }
    .links .link:first-child .icon {
        width: auto;
        padding-left: 0;
    }
    .links .link:first-child .icon .ico,
    .links .link:first-child .icon img,
    .links .link:first-child .icon:before {
        display: none;
    }
    .links .link .external-link {
        display: none;
    }
    section.sidebar-section .info h3 {
        margin-bottom: 0;
    }
    .objective {
        padding: 0;
    }
}

@media only screen and (max-width: 480px) {
    .welcome-message {
        font-size: 20px;
    }
}

@media only screen and (max-width: 360px) {
    .groups .group>* {
        display: block;
    }
    .groups .label {
        text-align: left;
        width: auto;
    }
    .groups .tools {
        border-left: 1px dotted #ddd;
    }
}
