.wrapper {
    height: auto;
}

nav,
footer,
.external-link,
.scroll-to-top {
    display: none !important;
}

.mobile {
    display: inline-block;
}

aside,
.main-content {
    padding: 30px 20px;
    height: auto;
    display: block;
}

aside .content-area,
.main-content .content-area {
    height: auto !important;
    padding: 0 !important;
}

aside {
    text-align: left;
    background: transparent;
    border-right: none;
    width: 100%;
    padding: 0;
}

aside .personal-info {
    width: 100%;
    display: table;
}

aside .thumbnail,
aside .info {
    display: table-cell;
    vertical-align: middle;
}

aside .thumbnail {
    width: 175px;
    margin: 0;
    border-radius: 50px 0 0 0;
}

aside .info {
    background-color: #fafafa;
    border-bottom: 1px solid #dfdfdf;
    padding-left: 25px;
}

aside .info h3 {
    padding-left: 1px;
}

aside .links {
    display: block;
}

aside .links:after {
    content: '';
    display: block;
    clear: both;
}

aside .link:not(:first-child) {
    width: 50%;
    float: left;
}

aside .summary {
    display: none;
}

.employments:before,
.employment:before,
.job .responsibility ul:before,
.job .responsibility li:before {
    content: '';
    bottom: 0;
}

.sly-frame {
    padding: 0 !important;
}

.sly-frame:before,
.sly-frame:after {
    display: none;
}

.slidee {
    transform: none;
}

.scrollbar {
    display: none !important;
}