body.dark {
    color: #cecece;
    background-color: #484848;
}

.dark .welcome-message:before {
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 40%, rgba(0, 0, 0, 1) 100%);
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 40%, rgba(0, 0, 0, 1) 100%);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 40%, rgba(0, 0, 0, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000', GradientType=0);
}

.dark .welcome-message .content-container {
    background: rgba(94, 17, 3, 1);
    background: -moz-radial-gradient(center, ellipse cover, rgba(94, 17, 3, 1) 0%, rgba(0, 0, 0, 1) 58%, rgba(0, 0, 0, 1) 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(94, 17, 3, 1)), color-stop(58%, rgba(0, 0, 0, 1)), color-stop(100%, rgba(0, 0, 0, 1)));
    background: -webkit-radial-gradient(center, ellipse cover, rgba(94, 17, 3, 1) 0%, rgba(0, 0, 0, 1) 58%, rgba(0, 0, 0, 1) 100%);
    background: -o-radial-gradient(center, ellipse cover, rgba(94, 17, 3, 1) 0%, rgba(0, 0, 0, 1) 58%, rgba(0, 0, 0, 1) 100%);
    background: -ms-radial-gradient(center, ellipse cover, rgba(94, 17, 3, 1) 0%, rgba(0, 0, 0, 1) 58%, rgba(0, 0, 0, 1) 100%);
    background: radial-gradient(ellipse at center, rgba(94, 17, 3, 1) 0%, rgba(0, 0, 0, 1) 58%, rgba(0, 0, 0, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#5e1103', endColorstr='#000000', GradientType=1);
}

.dark .welcome-message .content-area>* {
    color: #fff;
}

.dark .theme-changer {
    color: #fff;
    background-color: #a4a4a4;
    opacity: 0.7;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.7);
}

.dark .theme-changer:before {
    background-color: #fff;
}

.dark header.mobile {
    background-color: #383838;
}

.dark section.sidebar-section .header {
    border-color: #ffa976;
}

.dark .container {
    background-color: #2d2d2d;
    box-shadow: 0 0 15px #020202;
}

.dark .nav-container.open .bg {
    background-color: rgba(50, 50, 50, 0.75);
}

.dark .nav-container .handle {
    border-color: #484848;
}

.dark .nav-container.open .handle,
.dark .nav-container.open .handle:hover {
    background-color: #484848;
}

.dark nav,
.dark .nav-container.open nav,
.dark nav h4 {
    background-color: #484848;
    border-color: #666;
}


/* .dark .nav-container.open nav:after {
    box-shadow: 1px 0 10px rgb(125, 124, 124);
} */

.dark nav a {
    background-color: #3a3a3a;
    box-shadow: 0 0 2px rgba(255, 255, 255, 0.5);
}

.dark nav a:hover {
    background-color: #2d2d2d;
    box-shadow: 0 0 2px rgba(255, 96, 0, 0.5);
}

.dark aside {
    color: #cecece;
    background-color: rgba(120, 120, 120, 0.15);
    border-color: #525252;
}

.dark section:before {
    background-color: #383838;
    border-color: #3792ca;
    box-shadow: 2px 2px 5px rgba(93, 157, 195, 0.5);
}

.dark section.sidebar-section .header {
    color: #b7b7b7;
}

.dark .sly-frame:before {
    background: -moz-linear-gradient(top, rgba(56, 56, 56, 1) 0%, rgba(56, 56, 56, 0.75) 60%, rgba(56, 56, 56, 0.5) 80%, rgba(56, 56, 56, 0) 100%);
    background: -webkit-linear-gradient(top, rgba(56, 56, 56, 1) 0%, rgba(56, 56, 56, 0.75) 60%, rgba(56, 56, 56, 0.5) 80%, rgba(56, 56, 56, 0) 100%);
    background: linear-gradient(to bottom, rgba(56, 56, 56, 1) 0%, rgba(56, 56, 56, 0.75) 60%, rgba(56, 56, 56, 0.5) 80%, rgba(56, 56, 56, 0) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#383838', endColorstr='#00383838', GradientType=0);
}

.dark .sly-frame:after {
    background: -moz-linear-gradient(top, rgba(56, 56, 56, 0) 0%, rgba(56, 56, 56, 0.5) 20%, rgba(56, 56, 56, 0.75) 40%, rgba(56, 56, 56, 1) 100%);
    background: -webkit-linear-gradient(top, rgba(56, 56, 56, 0) 0%, rgba(56, 56, 56, 0.5) 20%, rgba(56, 56, 56, 0.75) 40%, rgba(56, 56, 56, 1) 100%);
    background: linear-gradient(to bottom, rgba(56, 56, 56, 0) 0%, rgba(56, 56, 56, 0.5) 20%, rgba(56, 56, 56, 0.75) 40%, rgba(56, 56, 56, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#00383838', endColorstr='#383838', GradientType=0);
}

.dark .main-content .sly-frame:before {
    background: -moz-linear-gradient(top, rgba(45, 45, 45, 1) 0%, rgba(45, 45, 45, 0.75) 60%, rgba(45, 45, 45, 0.5) 80%, rgba(45, 45, 45, 0) 100%);
    background: -webkit-linear-gradient(top, rgba(45, 45, 45, 1) 0%, rgba(45, 45, 45, 0.75) 60%, rgba(45, 45, 45, 0.5) 80%, rgba(45, 45, 45, 0) 100%);
    background: linear-gradient(to bottom, rgba(45, 45, 45, 1) 0%, rgba(45, 45, 45, 0.75) 60%, rgba(45, 45, 45, 0.5) 80%, rgba(45, 45, 45, 0) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#2d2d2d', endColorstr='#002d2d2d', GradientType=0);
}

.dark .main-content .sly-frame:after {
    background: -moz-linear-gradient(top, rgba(45, 45, 45, 0) 0%, rgba(45, 45, 45, 0.5) 21%, rgba(45, 45, 45, 0.75) 40%, rgba(45, 45, 45, 1) 100%);
    background: -webkit-linear-gradient(top, rgba(45, 45, 45, 0) 0%, rgba(45, 45, 45, 0.5) 21%, rgba(45, 45, 45, 0.75) 40%, rgba(45, 45, 45, 1) 100%);
    background: linear-gradient(to bottom, rgba(45, 45, 45, 0) 0%, rgba(45, 45, 45, 0.5) 21%, rgba(45, 45, 45, 0.75) 40%, rgba(45, 45, 45, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#002d2d2d', endColorstr='#2d2d2d', GradientType=0);
}

.dark a {
    color: #47a0ec;
}

.dark a:focus,
.dark a:hover {
    color: #709ec5;
}

.dark .photo {
    box-shadow: 0 0 10px #0e0e0e;
}

.dark .designation {
    color: #58b1e6;
}

.dark .groups .label {
    background-color: #484848;
}

.dark .groups .tools {
    border-color: #5d5d5d;
}

.dark .list .list-item .detail {
    color: #a0a0a0;
}

.dark .list .project.list-item .title~*,
.dark .employments:before,
.dark .job .responsibility ul:before {
    border-color: #717171;
}

.dark .project-link:before {
    color: #ff3939;
}

.dark .employment:before,
.dark .job .responsibility li:before {
    color: #717171;
}

.dark footer {
    border-color: #525252;
}

.dark .scrollbar {
    background-color: rgba(85, 85, 85, 0.2);
}

.dark .scrollbar .handle {
    background-color: rgba(15, 157, 243, 0.8);
}